<div class="row">
    <div class="d-flex align-items-center justify-content-center">
        <h1>{{title}}</h1>
    </div>
</div>
<div class="row mt-6">
    <div class="d-flex align-items-center justify-content-center">
        <form>
            <!-- user input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="username">User</label>
              <input type="text" id="username" class="form-control"  #username/>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="pasword">Password</label>
              <input type="password" id="pasword" class="form-control" #password/>
            </div>
          
        
            <div class="">
                <!-- Submit button -->
                <button type="button" class="btn btn-primary btn-dark mb-4" (click)="login(username.value, password.value)">Entrar</button>
            </div>
            {{mensajeError}}
          
          </form>
        
          
          <button type="button" class="btn btn-primary" (click)="logout()" *ngIf="authService.getUser()">Salir</button>

    </div>
</div>